.woloxersLeft {
  grid-area: woloxersLeft;
  position: relative;
  display: flex;
  //background-image: url('../../../assets/img_woloxer.png');
}
.woloxImg {
  width: 100%;
}

.normalText {
  margin: 0px;
  color: white;
  font-size: 1.5rem;
}
.greenText {
  font-family: 'Montserratbold';
  color: #a3cc38;
  margin: 0px 10px 0px 0px;
  font-size: 3rem;
}

.blueTextBold {
  font-family: 'Montserratbold';
  color: #29a5dd;
  font-size: 3rem;
  margin: 0px 10px 0px 0px;
}
.followButton {
  border: 1px solid #29a5dd;
  border-radius: 25px;
  text-decoration: none;
  padding: 12px 60px;
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
}

.followButton:focus {
  outline-style: none;
}
.followButton:hover {
  background: #29a5dd;
  animation-name: animation;
  animation-duration: 1s;
}
.followButton:visited {
  color: white;
}
@keyframes animation {
  from {
    background-color: transparent;
    color: black;
  }
  to {
    background-color: #29a5dd;
    color: white;
  }
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon {
  margin-right: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px 0px 15px;
}
@media (max-width: 850px) {
  .normalText {
    font-size: 1.2rem;
  }
  .greenText,
  .blueTextBold {
    font-size: 2rem;
  }
  .container {
    margin: 2px;
  }
}
