.header-container {
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 800px) {
    display: none;
  }
}

.logo {
  width: 150px;
}

.links {
  text-decoration: none;
  color: black;
}

.loginButton {
  border: 1px solid #29a5dd;
  border-radius: 20px;
  text-decoration: none;
  padding: 10px 40px;
}
.loginButton:hover {
  background: #29a5dd;
  animation-name: animation;
  animation-duration: 1s;
}
.translateButton {
  border: 1px solid #29a5dd;
  border-radius: 20px;
  text-decoration: none;
  padding: 10px 20px;
  background-color: transparent;
}

.translateButton:focus {
  outline-style: none;
}
.translateButton:hover {
  background: #29a5dd;
  animation-name: animation;
  animation-duration: 1s;
  color: white;
}
@keyframes animation {
  from {
    background-color: transparent;
    color: black;
  }
  to {
    background-color: #29a5dd;
    color: white;
  }
}
