.benefits {
  grid-area: benefits;
  width: 100%;
  background-color: white;
}
.benefitsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;
  @media (max-width: 650px) {
    padding-bottom: 50px;
  }
}

.benefitsTitle {
  text-align: center;
  padding: 70px 0px;
  margin: 0px 0px 0px 15px;
  font-size: 1.5rem;
}
.benefitsText {
  text-align: center;
  max-width: 150px;
  font-family: 'MonserratLight';
}
.benefitsFace {
  text-align: center;
  padding: 70px 0px;
  margin: 0px 15px;
  font-size: 1.5rem;
  color: #29a5dd;
}
.benefitsTitleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
