.welcomeContainer {
  margin: 100px 0px 0px 40px;
  @media (max-width: 650px) {
    margin: 0px 15px;
  }
}
.welcomeLeft {
  grid-area: welcomeLeft;
  @media (max-width: 650px) {
    margin-bottom: 50px;
    justify-self: flex-start;
  }
}

.lightText {
  font-family: 'MonserratLight';
  margin: 0px;
  font-size: 2rem;
}

.boldText {
  font-family: 'Montserratbold';
  margin: 0px 10px 0px 0px;
  font-size: 2rem;
}
.greenText {
  font-family: 'Montserratbold';
  color: #a3cc38;
  margin: 0px 10px 0px 0px;
  font-size: 2rem;
}

.textContainer {
  display: flex;
  font-size: 2rem;
}

@media screen and (max-width: 830px) {
  .lightText,
  .boldText,
  .greenText,
  .textContainer {
    font-size: 1.5rem;
  }
}
